[project]
	description = Introduction to Parallel Programming
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/revivo (revivo)
[access "refs/for/refs/*"]
	read = group user/revivo (revivo)
	push = group user/revivo (revivo)
	label-Code-Review = -2..+2 group user/revivo (revivo)
	label-Verified = -1..+1 group user/revivo (revivo)
	rebase = group user/revivo (revivo)
	removeReviewer = group user/revivo (revivo)
	submit = group user/revivo (revivo)
[access "refs/heads/*"]
	read = group user/revivo (revivo)
	create = group user/revivo (revivo)
	push = +force group user/revivo (revivo)
	pushMerge = group user/revivo (revivo)
[access "refs/tags/*"]
	push = +force group user/revivo (revivo)
	pushTag = group user/revivo (revivo)
	pushSignedTag = group user/revivo (revivo)
